<div class="surface-card p-4 shadow-2 border-round">
  <div class="grid formgrid p-fluid" [formGroup]="profileForm">


    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3 ml-4">Edit Profile</div>
    </div>
    <!-- <form [formGroup]="profileForm" > -->
    <div class="field mb-4 col-12">
      <label for="username" class="font-medium text-900">Username</label>
      <input id="username" type="text" pinputtext="" class="p-inputtext p-component p-element"
        formControlName="username" />
    </div>

    <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
    <div class="field mb-4 col-12 md:col-6">
      <label for="fullName" class="block text-900 font-medium mb-2">Full Name</label>
      <input id="fullName" type="text" pinputtext=""
        class="p-inputtext p-component p-element ng-valid ng-touched ng-dirty" formControlName="fullName" />
    </div>

    <div class="field mb-4 col-12 md:col-6">
      <label for="email" class="block text-900 font-medium mb-2">Email</label>
      <input id="email" type="text" pinputtext="" class="p-inputtext p-component p-element ng-valid ng-touched ng-dirty"
        formControlName="email" />
    </div>

    <div class="field mb-4 col-12 md:col-6">
      <label for="phoneNumber" class="block text-900 font-medium mb-2">Phone Number</label>
      <input id="phoneNumber" type="text" pinputtext=""
        class="p-inputtext p-component p-element ng-valid ng-touched ng-dirty" formControlName="phoneNumber" />
    </div>

    <!-- <div class="field mb-4 col-12 md:col-6">
      <label for="avatar2" class="font-medium text-900">Avatar</label>
      <div class="flex align-items-center">
         

        <img [src]="currentUser?.image" width="200" class="mr-4" />

        <p-toast />
        <p-fileUpload mode="basic" chooseLabel="Upload Image" chooseIcon="pi pi-upload" name="demo[]" accept="image/*"
          maxFileSize="1000000" />
      </div>
    </div> -->
    <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
    <!-- </form> -->
    <div class="col-3">
      <button pButton pRipple type="button" label="Save Changes" class="p-button-danger"
        (click)="updateProfile()"></button>
    </div>
  </div>
</div>

<!-- <img src="../../../../assets/yasmine.jpg" width="200" class="mr-4" /> -->