<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
  <div class="flex align-items-start flex-column lg:flex-row lg:justify-content-between">
    <div class="flex align-items-start flex-column md:flex-row">
      <img src="../../../../assets/images/avatar/red_man.png" class="mr-5 mb-3 lg:mb-0"
        style="width: 90px; height: 90px" />
      <div>
        <span class="text-900 font-medium text-3xl">Client Name</span><i
          class="pi pi-star text-2xl ml-4 text-yellow-500"></i>
        <div class="flex align-items-center flex-wrap text-sm">
          <div class="mr-5 mt-3">
            <span class="font-medium text-500">Liked Product</span>
            <div class="text-700 mt-2">163</div>
          </div>
          <div class="mr-5 mt-3">
            <span class="font-medium text-500">Commented Product</span>
            <div class="text-700 mt-2">26</div>
          </div>
          <div class="mr-5 mt-3">
            <span class="font-medium text-500">Claims</span>
            <div class="text-700 mt-2">5</div>
          </div>
          <div class="mt-3">
            <span class="font-medium text-500">Orders</span>
            <div class="text-700 mt-2">13</div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
      <div class="mt-3 lg:mt-0">
        <button pbutton="" pripple="" label="Add" icon="pi pi-ban"
          class="p-element p-ripple p-button-outlined mr-2 p-button p-component text-red-600  border-red-600 hover:bg-red-50 p-button-danger">
          <span class="p-button-icon p-button-icon-left pi pi-user-plus" aria-hidden="true"></span>
          <span class="p-button-label">block</span>
          <span class="p-ink" style="height: 97px; width: 97px; top: -23.5px; left: 1.7px">
          </span>
        </button>
        <button pbutton="" pripple="" label="Save" icon="pi pi-check" class="p-element p-ripple p-button p-component p-button-success">
          <span class="p-button-icon p-button-icon-left pi pi-check" aria-hidden="true"></span>
          <span class="p-button-label">Active</span>
          <span class="p-ink" style="height: 101px; width: 101px; top: -10.5px; left: -17.9625px"></span>
        </button>
      </div>
    </div>
  </div>
</div>