<div class="mt-2 mb-6 font-bold text-xl text-900">Roles Management</div>

<div class="grid ">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <div class="mb-4">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-danger mr-2" (click)="openNew()"></button>
      </div>

      <p-table [value]="filteredData" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="4"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 20]" [(selection)]="selectedRoles" selectionMode="multiple" [rowHover]="true"
        dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="searchRoles($event.target.value)" placeholder="Search..."
                class="w-auto sm:w-auto" />
            </span>
            <button pButton pRipple type="button" class="p-button-rounded " style="margin-left: 20px;"
                icon="pi pi-refresh" (click)="getRoles()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pSortableColumn="name">
              <span>Name</span>
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="description">
              <span>description</span>
              <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="privileges">
              <span>Privileges</span>
            </th>
            <th pSortableColumn="userCount">
              <span>Number of Users</span>
            </th>

            <th pSortableColumn="status">
              <span>Status</span>
            </th>
            <th pSortableColumn="edit"><span></span></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-role let-i="rowIndex" let-columns="columns">
          <tr class="ng-star-inserted">

            <td>
              <div class="flex align-items-center">
                <span class="border-circle mr-2" [ngStyle]="{ 'background-color': getCircleColor(i) }"
                  style="width: 7px; height: 7px"></span>
                {{ role.name }}
              </div>
            </td>
            <td>{{ role.description }}</td>
            <td>
              <ng-container *ngFor="let privilege of role.privileges; let last = last">
                {{ privilege.name}}<span *ngIf="!last">,</span>
              </ng-container>
            </td>
            <td>{{ role.userCount }}</td>
            <td>
              <p-tag [value]="role.active ? 'Active' : 'Inactive'" [severity]="getSeverity(role.active)"></p-tag>
            </td>

            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="openDialog(role)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            In total there are {{ roles ? roles.length : 0 }} roles.
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="roleDialog" [style]="{width: '450px'}" header="Role Details" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">

        <form [formGroup]="roleForm">
          <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" formControlName="name" />
            <small class="ng-dirty ng-invalid text-red-600"
              *ngIf="roleForm.get('name').invalid && roleForm.get('name').touched">
              Name is required.</small>
          </div>

          <div class="field">
            <label for="description">Description</label>
            <textarea id="description" formControlName="description" pInputTextarea required rows="4"
              cols="30"></textarea>
          </div>

          <div class="field">
            <label for="privileges">Privileges</label>
            <p-multiSelect [options]="privileges" formControlName="privileges" optionLabel="name"
              placeholder="Select Privileges" (onChange)="privilegesSelectedEvent($event)" />
          </div>

          <div class="field">
            <div class="status-container">
              <label for="active">Status</label>

              <p-inputSwitch formControlName="active" class="ng-dirty ng-invalid"></p-inputSwitch>
              <small class="ng-dirty ng-invalid text-red-600"
                *ngIf="roleForm.get('active').invalid && roleForm.get('active').touched">
                Status is required.</small>
            </div>
          </div>
        </form>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"
          [disabled]="roleForm.invalid || roleForm.pristine"></button>
      </ng-template>
    </p-dialog>

  </div>
</div>