<div class="grid ">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
              (click)="openNew()"></button>
          </div>
        </ng-template>
      </p-toolbar>

      <p-table [value]="filteredData" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="4"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 20]" [(selection)]="selectedRoles" selectionMode="multiple" [rowHover]="true"
        dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Roles Management</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="searchRoles($event.target.value)" placeholder="Search..."
                class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">
              <span>Name</span>
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="description">
              <span>description</span>
              <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
              <span>Status</span>
            </th>
            <th  pSortableColumn="creationDate">
              <span>Creation Date</span>
            </th>
            <th pSortableColumn="lastModifiedDate">
              <span>Last Modified Date</span>
            </th>
            <th pSortableColumn="edit"><span></span></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-role>
          <tr class="ng-star-inserted">
            <td>
              <p-tableCheckbox [value]="role"></p-tableCheckbox>
            </td>
            <td>
              <div class="flex align-items-center">
                <span class="border-circle mr-2 bg-red-500" style="width: 7px; height: 7px"></span>
                {{ role.name }}
              </div>
            </td>
            <td>
              {{ role.description }}
            </td>
            <td>
              {{ role.active }}
            </td>
            <td>
              {{ role.creationDate }}
            </td>
            <td>
              {{ role.lastModifiedDate }}
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="openDialog(role)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            In total there are {{ roles ? roles.length : 0 }} roles.
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="roleDialog" [style]="{width: '450px'}" header="Role Details" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">

        <form [formGroup]="roleForm">
          <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" formControlName="name" />
            <small class="ng-dirty ng-invalid">Name is required.</small>
          </div>

          <div class="field">
            <label for="description">Description</label>
            <textarea id="description" formControlName="description" pInputTextarea required rows="3"
              cols="20"></textarea>
          </div>

          <div class="field">
            <label class="mb-3">Account Status</label>
            <div class="formgrid grid">
              <div class="field-radiobutton col-6">
                <p-radioButton id="active" name="status" value="active" formControlName="active"></p-radioButton>
                <label for="active">Active</label>
              </div>
              <div class="field-radiobutton col-6">
                <p-radioButton id="block" name="status" value="block" formControlName="active"></p-radioButton>
                <label for="block">Block</label>
              </div>
            </div>
          </div>

        </form>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"
          [disabled]="roleForm.invalid || roleForm.pristine"></button>
      </ng-template>
    </p-dialog>

  </div>
</div>