<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-column lg:flex-row justify-content-center align-items-center gap-7">
      <div class="text-center lg:text-right">
        <div class="mt-6 mb-3 font-bold text-6xl text-900">Access denied</div>
        <p class="text-700 text-3xl mt-0 mb-6">You Can't access the this page</p>
        <button pbutton="" type="button"
          label="Go back to home page" class="p-element p-button-outlined p-button p-component text-red-600  border-red-600 hover:bg-red-50">
          <span class="p-button-label" routerLink="/dashboard">Go back to home page</span>
        </button>
      </div>
      <div><img src="../../../../../assets/demo/images/notfound/403.png" alt="Image"  class="w-full md:w-28rem"></div>
    </div>
  </div>