<div class="mt-2 mb-6 font-bold text-xl text-900">Orders Management</div>

<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>

            <p-table [value]="filteredData" responsiveLayout="scroll" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedOrders" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="searchOrders($event.target.value)"
                                placeholder="Search..." class="w-auto sm:w-auto" />
                        </span>
                        <button pButton pRipple type="button" class="p-button-rounded " style="margin-left: 20px;"
                                icon="pi pi-refresh" (click)="getOrders()"></button>


                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="numberOrder">Number of Order<p-sortIcon field="numberOrder"></p-sortIcon>
                        </th>
                        <th pSortableColumn="date">Date<p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="articlesNumber">Number of Articles<p-sortIcon
                                field="articlesNumber"></p-sortIcon></th>
                        <th pSortableColumn="totalPrice">Total Price<p-sortIcon field="totalPrice"></p-sortIcon>
                        </th>
                        <th pSortableColumn="deliveryType">Delivery Type<p-sortIcon field="deliveryType"></p-sortIcon>
                        </th>
                        <th pSortableColumn="orderStatus">Order Status<p-sortIcon field="orderStatus"></p-sortIcon></th>

                        <th pSortableColumn="edit"><span></span></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="order"></p-tableCheckbox>
                        </td>
                        <td>
                            {{order.numberOrder}}
                        </td>
                        <td>
                            {{order.creationDate}}
                        </td>
                        <td>
                            {{order.articlesNumber}}
                        </td>
                        <td>
                            {{order.totalPrice}}
                        </td>

                        <td>
                            <span>{{order.deliveryType}}</span>
                        </td>

                        <td>
                            <p-tag [value]="getOrderStatus(order.orderStatus)"
                                   [severity]="getSeverity(order.orderStatus)"></p-tag>
                          </td>
                          <td>
                            <div class="flex">
                                <p-inputSwitch [(ngModel)]="order.orderStatus"
                                    (onChange)="toggleOrder(order)" *ngIf="canToggleOrderStatus()"></p-inputSwitch>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        In total there are {{ orders ? orders.length : 0 }} orders.
                    </div>
                </ng-template>
            </p-table>
        </div>


    </div>
</div>