<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>

                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                        (click)="deleteSelectedProducts(selectedProducts)"
                        [disabled]="!selectedProducts || !selectedProducts.length"></button>
                </ng-template>

            </p-toolbar>

            <p-table [value]="filteredData" [tableStyle]="{ 'min-width': '50rem' }" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">

                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Products Management</h5>
                    
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                           
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="searchProducts($event.target.value)"
                                placeholder="Search..." class="w-auto sm:w-auto" />
                                <button pButton pRipple type="button" class="p-button-rounded " style="margin-left: 20px;" icon="pi pi-refresh" (click)="getProducts()"></button>
                    
                            </span>
                    
                       
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">Reference <p-sortIcon field="Reference"></p-sortIcon></th>
                        <th>Image</th>
                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="brand">Brand <p-sortIcon field="brand"></p-sortIcon></th>
                        <th pSortableColumn="soldQuantity">Sold Quantity <p-sortIcon field="soldQuantity"></p-sortIcon>
                        </th>
                        <th pSortableColumn="availableQuantity">Available Quantity <p-sortIcon
                                field="availableQuantity"></p-sortIcon></th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon>
                        </th>
                        <th pSortableColumn="edit"><span></span></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr class="ng-star-inserted">
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td>{{ product.reference }}</td>
                        <td class="text-align-center">
                            <img class="w-auto" [src]="product.image" style="width: 50px; height: 25px;">
                        </td>
                        <td>{{ product.price | currency:" " }}TND</td>
                        <td>{{ product.category?.name }}</td>
                        <td>{{ product.brand?.name }}</td>
                        <td>{{ product.soldQuantity}}</td>
                        <td>{{ product.availableQuantity}}</td>
                        <td>{{ product.description}}</td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="openDialog(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        In total there are {{ products ? products.length : 0 }} products.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="productForm">
                    <div class="field">
                        <label for="reference">Reference</label>
                        <input type="text" pInputText id="reference" formControlName="reference" />
                        <small class="ng-dirty ng-invalid text-red-600"
                            *ngIf="productForm.get('reference').invalid && productForm.get('reference').touched">
                            Refrence is required.</small>
                    </div>
                    <div class="field">
                        <label for="description">Description</label>
                        <textarea id="description" pInputTextarea formControlName="description" required rows="3"
                            cols="20"></textarea>
                    </div>

                    <div class="field">
                        <label for="brands">Brand</label>
                        <p-dropdown [options]="brands" formControlName="brand" optionLabel="name"
                            placeholder="Select Brand" (onChange)="brandSelectedEvent($event)">
                        </p-dropdown>
                        <small class="ng-dirty ng-invalid text-red-600"
                            *ngIf="productForm.get('brand').invalid && productForm.get('brand').touched">
                            Brand is required.</small>
                    </div>

                    <div class="field">
                        <label for="category">Category</label>
                        <p-dropdown [options]="categories" formControlName="category" optionLabel="name"
                            placeholder="Select Category" (onChange)="categorySelectedEvent($event)"></p-dropdown>
                        <small class="ng-dirty ng-invalid text-red-600"
                            *ngIf="productForm.get('category').invalid && productForm.get('category').touched">
                            Category is required.</small>
                    </div>


                    <div class="field">
                        <label for="price">Price</label>
                        <p-inputNumber id="price" formControlName="price" mode="currency"
                            currency="TND"></p-inputNumber>
                        <small class="ng-dirty ng-invalid text-red-600"
                            *ngIf="productForm.get('price').invalid && productForm.get('price').touched">
                            Price is required.</small>
                    </div>

                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="soldQuantity">Sold Quantity</label>
                            <p-inputNumber id="soldQuantity" formControlName="soldQuantity"></p-inputNumber>
                            <small class="ng-dirty ng-invalid text-red-600"
                            *ngIf="productForm.get('soldQuantity').invalid && productForm.get('soldQuantity').touched">
                            Sold Quantity is required.</small>
                        </div>
                        <div class="field col">
                            <label for="availableQuantity">Available Quantity</label>
                            <p-inputNumber id="availableQuantity" formControlName="availableQuantity"></p-inputNumber>
                            <small class="ng-dirty ng-invalid text-red-600"
                            *ngIf="productForm.get('availableQuantity').invalid && productForm.get('availableQuantity').touched">
                            Available Quantity is required.</small>
                        </div>
                    </div>

                    <div class="field">
                        <label for="file">Product Picture</label>
                        <input id="file-upload" class="w-full" type="file" class="custom-file-input"
                            (change)="onFileSelected($event)" accept="image/*" formControlName="file"><img
                            *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded Image" class="uploaded-image"
                            style="width: 100px; height: 100px; border-radius: 8px;">
                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{ product.reference}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>