<div class="layout-topbar">

    <a class="layout-topbar-logo" routerLink="/dashboard">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'big-logo-light' : 'big-logo-dark'}}.svg"
            alt="logo">
        <span></span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

        <!-- <button class="p-link layout-topbar-button" [routerLink]="'/dashboard/calendar'">
            <i class="pi pi-calendar"></i>
            <span> {{ 'Calendar' | translate }}</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/dashboard'">
            <i class="pi pi-bell"></i>
            <span> {{ 'Notifications' | translate }}</span>
        </button> -->
        <button class="p-link layout-topbar-button" (click)="toggleLanguageMenu()">
            <i class="pi pi-language"></i>
            <span> {{ 'Language' | translate }}</span>

            <div *ngIf="languageMenuVisible" class="language-menu">
                
                <div class="language-option" (click)="switchLanguage('en')">
                    <img src="assets/i18n/image/en.png" alt="English" class="flag-icon" 
                    style="cursor: pointer; width: 20px; height: auto;">
                    <div>English</div>
                </div>
                <div class="language-option" (click)="switchLanguage('fr')">
                    <img src="assets/i18n/image/fr.png" alt="Français" class="flag-icon"
                    style="cursor: pointer; width: 20px; height: auto;">
                    <div>Français</div>
                </div>
            </div>

        </button>

        <button class="p-link layout-topbar-button" [routerLink]="'/dashboard/user-profile'">
            <i class="pi pi-user"></i>
            <span> {{ 'Profile' | translate }}</span>
        </button>
        <button (click)="logout()" class="p-link layout-topbar-button">
            <i class="pi pi-sign-out"></i>
            <span> {{ 'Logout' | translate }}</span>
        </button>
    </div>

    <div #userinfo class="user-info ">
        <!-- <img src="../../../../assets/demo/images/avatar/elwinsharvill.png" alt="User Image" class="user-image"> -->
        <div class="user-details mr-4">
            <div>{{ currentUser?.fullName }}</div>
            <div>{{ currentUser?.role.name }}</div>
        </div>
    </div>


</div>