<div class="layout-topbar">

    <a class="layout-topbar-logo" routerLink="/dashboard">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'big-logo-light' : 'big-logo-dark'}}.svg"
            alt="logo">
        <span></span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

        <button class="p-link layout-topbar-button" [routerLink]="'/dashboard/calendar'">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/dashboard'">
            <i class="pi pi-bell"></i>
            <span>Notifications</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/dashboard/user-profile'">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button (click)="logout()" class="p-link layout-topbar-button">
            <i class="pi pi-sign-out"></i>
            <span>Logout</span>
        </button>

    </div>
    <div #userinfo class="user-info mr-4">
        <img src="../../../../assets/demo/images/avatar/elwinsharvill.png" alt="User Image" class="user-image">
        <div class="user-details">
            <div>{{ currentUser?.username }}</div>
            <div>{{ currentUser?.role.name }}</div>
        </div>
    </div>
</div>