<div class="card">
<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Welcome</span>
            <div class="text-6xl text-primary font-bold mb-3">To Back Office E-Shop Application</div>
            <p class="mt-0 mb-4 text-700 line-height-3">This Application manages the internal operations of an online
                store,
                handling tasks like order processing, inventory control,
                and customer data</p>
            <button pbutton="" type="button" label="Go back to home page"
                class="p-element p-button-outlined p-button p-component text-red-600  border-red-600 hover:bg-red-50">
                <span class="p-button-label" routerLink="/auth/login">Login</span>
            </button>
        </section>
    </div>

    <div class="col-12 md:col-6 overflow-hidden">
        <img src="../../../../assets/demo/images/images/shop.jpg" alt="Image" class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>
</div>