<div class="surface-card p-4 shadow-2 border-round">

  <!-- <div class="w-full " style="
                    height: 200px;
                    background: url('../../../../assets/demo/images/avatar/hero-1.png')
                        no-repeat;
                    background-size: cover;filter: brightness(40%);">
      </div>
      <div class="px-4 py-5 md:px-6 lg:px-8 surface-section">
        <div class="flex flex-column lg:flex-row lg:align-items-center lg:justify-content-between relative"
          style="margin-top: -2rem; top: -70px; margin-bottom: -70px">
          <div>
            <div class="mb-3 surface-card shadow-2 flex align-items-center justify-content-center" style="
                                width: 140px;
                                height: 140px;
                                border-radius: 10px;
                            ">
              <img src="/assets/demo/images/avatar/hero-1.png" alt="Image" width="140" height="140" />
            </div>
            <div class="text-900 text-3xl font-medium mb-3">
              Full Name
            </div>
            <p class="mt-0 mb-3 text-700 text-xl">
              Role
            </p>
            <div class="text-600 font-medium">
              <span>Email</span>
            </div>
            <div class="text-600 font-medium">
              <span>phone Number</span>
            </div>
            <div class="text-600 font-medium">
              <span>Privileges:</span>
            </div>
          </div>
          <div class="mt-3 lg:mt-0">
            <button pbutton="" pripple="" label="Follow" icon="pi pi-plus-circle"
              class="p-element p-ripple p-button-outlined mr-2 p-button p-component" fdprocessedid="10uj3j">
              <span class="p-button-icon p-button-icon-left pi pi-plus-circle" aria-hidden="true"></span>
              <span
                class="p-button-label">Edit Profile</span>
                <span class="p-ink"></span>
              </button>
                <button pbutton="" pripple=""
              label="Website" icon="pi pi-link" class="p-element p-ripple mr-2 p-button p-component"
              fdprocessedid="mgco5">
              <span class="p-button-icon p-button-icon-left pi pi-link" aria-hidden="true"></span>
              <span
                class="p-button-label">Change password</span>
                <span class="p-ink"></span>
              </button>
                
          </div>
        </div>
      </div>
  </div> -->


  <!-- <div class="w-full " style="
  height: 300px;
  background: url('../../../../assets/demo/images/avatar/hero-1.png')
      no-repeat;
  background-size: cover;filter: brightness(40%);">
  </div>
  <div class="px-4 py-5 md:px-6 lg:px-8 surface-section">
    <div class="flex flex-column lg:flex-row lg:align-items-center lg:justify-content-between relative"
      style="margin-top: -2rem; top: -70px; margin-bottom: -70px">
      <div>
        <div class="mb-3 surface-card shadow-2 flex align-items-center justify-content-center" style="
              width: 140px;
              height: 140px;
              border-radius: 10px;
          ">
          <img src="/assets/demo/images/avatar/hero-1.png" alt="Image" width="140" height="140" /> -->

  <!-- <div class="w-full " style="
  height: 100px;
  ">
  </div>
  <div class="px-4 py-5 md:px-6 lg:px-8 surface-section">
    <div class="flex flex-column lg:flex-row lg:align-items-center lg:justify-content-between relative"
      style="margin-top: -2rem; top: -70px; margin-bottom: -70px">
      <div>
        <div class="mb-3 surface-card shadow-2 flex align-items-center justify-content-center" style="
              width: 140px;
              height: 140px;
              border-radius: 10px;
          ">
          <img src="/assets/yasmine.jpg" alt="Image" width="140" height="140" />
        </div>
        <div class="text-900 text-3xl font-medium mb-3">
          Full Name
        </div>
        <p class="mt-0 mb-3 text-700 text-xl">
          Role
        </p>
        <div class="text-600 font-medium">
          <span>Email</span>
        </div>
        <div class="text-600 font-medium">
          <span>phone Number</span>
        </div>
        <div class="text-600 font-medium">
          <span>Privileges:</span>
        </div>
      </div>
      <div class="mt-3 lg:mt-0">
        <button pbutton="" pripple="" label="Follow" icon="pi pi-plus-circle"
          class="p-element p-ripple p-button-outlined mr-2 p-button p-component" fdprocessedid="10uj3j">
          <span class="p-button-icon p-button-icon-left pi pi-plus-circle" aria-hidden="true"></span>
          <span class="p-button-label">Edit Profile</span>
          <span class="p-ink"></span>
        </button>
        <button pbutton="" pripple="" label="Website" icon="pi pi-link"
          class="p-element p-ripple mr-2 p-button p-component" fdprocessedid="mgco5">
          <span class="p-button-icon p-button-icon-left pi pi-link" aria-hidden="true"></span>
          <span class="p-button-label">Change password</span>
          <span class="p-ink"></span>
        </button>

      </div>
    </div>
  </div>
</div>
 -->



  <div class="w-full " style="
  height: 150px;
  background: url('../../../../assets/téléchargement\ \(1\).jpg')
      no-repeat;
  background-size: cover;filter: brightness(60%);">
  </div>
  <div class="px-4 py-5 md:px-6 lg:px-8 surface-section">
    <div class="flex flex-column lg:flex-row lg:align-items-center lg:justify-content-between relative"
      style="margin-top: -2rem; top: -70px; margin-bottom: -70px">
      <div>
        <!-- <div class="mb-3 surface-card shadow-2 flex align-items-center justify-content-center" style="
              width: 140px;
              height: 140px;
              border-radius: 10px;
          ">
          <img src="../../../../assets/yasmine.jpg" alt="Image" width="140" height="140" />
        </div> -->

 <!-- <div class="mb-3 surface-card shadow-2 flex align-items-center justify-content-center mb-5" >
         </div> -->
      <div class="text-900 text-3xl font-medium mb-3 mt-6">------------------</div>
      <h1 class="text-900 text-3xl font-medium mb-3 mt-6"></h1>
      <h1></h1>
      
        <div class="text-900 text-3xl font-medium mb-3 mt-4"> {{ currentUser?.fullName }}
        </div>
        <p class="mt-0 mb-3 text-700 text-xl m-2">
          {{ currentUser?.role?.name }}
        </p>
        <div class="text-600 font-medium m-4">
          <span>{{ currentUser?.email }}</span>
        </div>
        <div class="text-600 font-medium m-4">
          <span>{{ currentUser?.phoneNumber }}</span>
        </div>
        <div class="text-600 font-medium m-4">
          <span>Privileges:</span>
        </div>
        <ul c>
          <li class="m-2" *ngFor="let privilege of currentUser?.role?.privileges">
            {{ privilege.name }}
          </li>
        </ul>
      </div>
      <div class="mt-3 lg:mt-0">
        <button pbutton="" pripple="" label="Follow" icon="pi pi-user-edit"
          class="p-element p-ripple p-button-outlined mr-2 p-button p-component" fdprocessedid="10uj3j"
          routerLink="/dashboard/user-profile/edit-profile">
          <span class="p-button-icon p-button-icon-left pi pi-user-edit" aria-hidden="true"></span>
          <span class="p-button-label">Edit Profile</span>
          <span class="p-ink"></span>
        </button>
        <button pbutton="" pripple="" label="Website" icon="pi pi-key"
          class="p-element p-ripple mr-2 p-button p-component" fdprocessedid="mgco5"
          routerLink="/dashboard/user-profile/change-password">
          <span class="p-button-icon p-button-icon-left pi pi-key" aria-hidden="true"></span>
          <span class="p-button-label">Change password</span>
          <span class="p-ink"></span>
        </button>

      </div>
    </div>
  </div>
</div>