<div class="mt-2 mb-6 font-bold text-xl text-900">Clients Management</div>

<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">

      <p-toast></p-toast>

      <p-table [value]="filteredData" responsiveLayout="scroll" [rows]="10" [paginator]="true"
        [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="searchClients($event.target.value)" placeholder="Search..."
                class="w-auto sm:w-auto" />
            </span>
            <button pButton pRipple type="button" class="p-button-rounded " style="margin-left: 20px;"
              icon="pi pi-refresh" (click)="getClients()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="username">Username <p-sortIcon field="username"></p-sortIcon></th>
            <th pSortableColumn="fullName">Full Name <p-sortIcon field="fullName"></p-sortIcon></th>
            <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="phoneNumber">Phone Number <p-sortIcon field="phoneNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="adress">Adress <p-sortIcon field="adress"></p-sortIcon></th>
            <th pSortableColumn="status">Acount Status<p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="edit"><span></span></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-client>
          <tr>
            <td style="width:14%; min-width:10rem;">
              {{client.username}}
            </td>
            <td style="width:14%; min-width:10rem;">
              {{client.fullName}}
            </td>
            <td style="width:14%; min-width:10rem;">
              {{client.email}}
            </td>
            <td style="width:14%; min-width:10rem;">
              {{client.phoneNumber}}
            </td>
            <td style="width:14%; min-width:10rem;">
              {{client.adress}}
            </td>

            <td>
              <i class="pi"
                [ngClass]="{ 'text-green-500 pi-check-circle': client.status, 'text-red-500 pi-times-circle': !client.status }"></i>
            </td>
            <td>
              <div class="flex">
                <p-inputSwitch [(ngModel)]="client.status" (onChange)="toggleClient(client)"></p-inputSwitch>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            In total there are {{ clients ? clients.length : 0 }} clients.
          </div>
        </ng-template>
      </p-table>
    </div>

  </div>
</div>