<div class="grid surface-50 max-w-screen max-h-screen grid-nogutter">
    <div class="col-12 md:col-6">

<p-toast></p-toast>

<div class="flex justify-content-center flex-wrap flipup animation-duration-500">
    <div class="mt-8 p-4 shadow-2 border-round lg:w-8 w-12">
        <div class="text-center mb-5">
            <img href="/" src="assets/layout/images/{{
                    layoutService.config().colorScheme === 'light'
                        ? 'big-logo-light'
                        : 'big-logo-dark'
                }}.svg" alt="Ooredoo logo" style="width: 200px" class="mb-5 w-6rem flex-shrink-0" />
            <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
            <span class="text-600 font-medium line-height-3">Sign in to continue</span>
            <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"></a>
        </div>

        <div>
            <div class="p-fluid formgrid grid">
                <div class="field col-12">
                    <label for="username" class="block text-900 font-medium">Username</label>
                    <input id="username" [(ngModel)]="username" type="text" pInputText class="w-full"
                        placeholder="Enter your username" />
                </div>
                <div class="field col-12 mb-4">
                    <label for="password" class="block text-900 font-medium">Password</label>
                    <p-password [(ngModel)]="password" [feedback]="false" [toggleMask]="true"
                        placeholder="Enter password" styleClass="w-full"></p-password>
                </div>
                <div class="field col-12 mb-4">
                    <div class="flex align-items-center justify-content-between mb-6">
                        <div class="flex align-items-center">
                            <!-- <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Remember me</label> -->
                        </div>
                        <div class=" justify-content-end">
                            <a class="font-medium no-underline ml-2 text-red-500 text-right cursor-pointer" [routerLink]="['/auth/forgot-pwd']">Forgot
                                password?</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field col-12">
                <button (click)="login()" pButton pRipple label="Sign In" class="w-full p-3 text-xl"></button>
                </div>
        </div>
    </div>
</div>

</div>
  
<div class="fadein animation-duration-500 md:col-6">
  <div class="overflow-hidden">
    <div class="bg-cover bg-center bg-no-repeat h-screen w-full"
      style="background-image: url('../../../../assets/demo/images/notfound/Computer\ login-amico.png')"></div>
  </div>
</div>
