<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
      
      <div
          style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgba(243, 33, 33, 0.4) 10%, rgba(243, 33, 33, 0) 30%);">
          <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center"
              style="border-radius:53px">
              <span class="text-red-500 font-bold text-3xl">Access denied</span>
              <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">You Can't access the this page</h1>
              <div class="text-600 mb-5"></div>
              <button pbutton="" type="button" label="Go back to home page"
                  class="p-element p-button-outlined p-button p-component text-red-600  border-red-600 hover:bg-red-50">
                  <span class="p-button-label" routerLink="/">Go back to home page</span>
              </button>
              <div><img src="assets/demo/images/notfound/403.png" alt="Image"
                      class="w-full md:w-28rem"></div>
          </div>
      </div>
  </div>
</div>