/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";


.p-tag-success {
  background-color: #CAF1D8 !important;
  color: #188A42 !important;
  border: none !important; 
  border-radius: 12px !important; 
  padding: 5px 10px !important;
  font-weight: bold !important; 
  display: inline-block;
  font-size: 0.9em !important;
}

.p-tag-danger {
  background-color: #FFD0CE !important; 
  color: #B32B23 !important; 
  border: none !important;
  border-radius: 12px !important;
  padding: 5px 10px !important;
  font-weight: bold !important;
  display: inline-block;
  font-size: 0.9em !important; 
}

.p-tag-warning {
  background-color: #FEDDC7 !important; 
  color: #AE510F !important;
  border: none !important; 
  border-radius: 12px !important;
  padding: 5px 10px !important;
  font-weight: bold !important; 
  display: inline-block; 
  font-size: 0.9em !important; 
}

.p-tag-info {
  background-color: #D0E1FD !important; 
  color: #295BAC !important;
  border: none !important;
  border-radius: 12px !important;
  padding: 5px 10px !important;
  font-weight: bold !important;
  display: inline-block;
  font-size: 0.9em !important;
}


.field {
  margin-bottom: 1em;
}

.status-container {
  display: flex;
  align-items: center;
}

.status-container label {
  margin-right: 10px; /* Adjust the spacing between the label and switch as needed */
}

.button {
  margin-right: 10px; /* Optional: Adds spacing between buttons */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .user-details {
      display: none;
  }
}


.file-upload-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-upload-label {
  background-color: #ff6363; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur */
  border-radius: 8px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointeur au survol */
  display: inline-block;
}

.file-upload-import {
  background-color: #ff6363; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur */
  border-radius: 8px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointeur au survol */
  border: none; /* Suppression de la bordure par défaut */
  font-size: 16px; /* Taille de la police */
}

.file-upload-input {
  display: none; /* Masquer l'input original */
}

.file-upload-label.uploaded {
  background-color: #4caf50; /* Couleur de fond après sélection */
}

.file-upload-import:disabled {
  background-color: #bbb; /* Couleur de fond désactivée */
  cursor: not-allowed; /* Curseur non autorisé */
}



.language-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  z-index: 1000;
  right: 10px; /* Adjust positioning as needed */
  top: 50px; /* Adjust positioning as needed */
}

.language-menu img {
  margin: 5px;
  cursor: pointer;
}



// .language-menu {
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   background: #fff;
//   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
//   padding: 10px;
// }

.language-option {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
}

.language-option:hover {
  background-color: #f0f0f0;
}

// .flag-icon {
//   width: 20px;
//   height: auto;
//   margin-right: 10px;
// }