/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

/*
.p-tag {
  background-color: #FFD0CE !important; // Light red background for consistency
  color: #B32B23 !important; // Dark red text color for consistency
  border: none !important; // Remove border for consistency
  border-radius: 12px !important; // Rounded corners for consistency
  padding: 5px 10px !important; // Padding for consistency
  font-weight: bold !important; // Bold text for consistency
  display: inline-block; // Ensures it stays as an inline-block element
}
*/
.p-tag-success {
  background-color: #CAF1D8 !important; // Light green background for success
  color: #188A42 !important; // Dark green text color for success
  border: none !important; // Remove border
  border-radius: 12px !important; // Rounded corners
  padding: 5px 10px !important; // Padding
  font-weight: bold !important; // Bold text
  display: inline-block; // Inline-block element
}

.p-tag-danger {
  background-color: #FFD0CE !important; // Light red background for danger
  color: #B32B23 !important; // Dark red text color for danger
  border: none !important; // Remove border
  border-radius: 12px !important; // Rounded corners
  padding: 5px 10px !important; // Padding
  font-weight: bold !important; // Bold text
  display: inline-block; // Inline-block element
}

.p-tag-warning {
  background-color: #FEDDC7 !important; // Light red background for danger
  color: #AE510F !important; // Dark red text color for danger
  border: none !important; // Remove border
  border-radius: 12px !important; // Rounded corners
  padding: 5px 10px !important; // Padding
  font-weight: bold !important; // Bold text
  display: inline-block; // Inline-block element
}

.p-tag-info {
  background-color: #D0E1FD !important; // Light red background for danger
  color: #295BAC !important; // Dark red text color for danger
  border: none !important; // Remove border
  border-radius: 12px !important; // Rounded corners
  padding: 5px 10px !important; // Padding
  font-weight: bold !important; // Bold text
  display: inline-block; // Inline-block element
}